/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#hero {
    height: 45vh;
    max-width: 100vw;
    background: url("images/cb-summer-flowers.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #F1FAEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 1px black;
}

#title {
    background: #1D3557;
    font-weight: 700;
    margin: 10px 0px;
    padding: 4px 10px;
}

#description {
    background: #457B9D;
    margin: 10px 50px;
    padding: 4px 10px;
    width: 512px;
}

#title, #description {
    border-radius: 10px;
}

#activities-section {
    background-color: #F1FAEE;
    margin: 0;
    /* height: 27.5vh; */
}

h3 {
    margin: 0;
    padding: 40px 50px 54px 50px;
    color: #1D3557;
    font-size: 24px;
    font-weight: 700;
}

.all-activities {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 10px 0px 10px;
}
.activities {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity-title {
    margin: 22px 18px 17px 18px;
    color: #1D3557;
    font-weight: 700;
}

.activity-description {
    color: #1D3557;
    margin: 0px 15px 38px 15px;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

#guide-section {
    background-color: #A8DADC;
    margin: 0;
}